#controls {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#schedule {
    margin-top: 2%;
    width: 100%;
    border: 1px solid black;
}

.day {
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
    background-color: lightgray;
}

.schedule-cell {
    text-align: center;
    border: 1px solid black;
}

/* CSS for Add form */
#add-form-holder {
    background-color: lightblue;
}

.text-input {
    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form-entry-mid {
    margin-top: 0.5%;
}

.required {
    color: red;
}

#day-buttons-container {
    border: 1px solid black;
    width: fit-content;
    background-color: lightskyblue;
}

#button-holder {
    text-align: center;
    margin-top: 2%;
}

.form-button {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

/* CSS for remove form */
#remove-form-holder {
    background-color: lightsteelblue;
}